__pycache__/
.envrc
*.swp
ui
.DS_Store
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
.menv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

*.log
*.db

*__pycache__/
*/__pycache__/*
poetry.lock

.env